.DS_Store
__pycache__/
catboost_info/
**/**.pt
**/**.ipynb
!agg_results.ipynb
**/**.npy
**/**.gz
**/**.sh
**/**.obj
**/**.png
**/**.tar
**/**.code-workspace
**/**.csv
.idea/
exp/
fl_simulation/catboost_info/
fl_simulation/dataset/
fl_simulation/tutorial/
fl_simulation/exp/
fl_simulation/logs/

configs/
data/
junk/
RF/
exps/